@charset "UTF-8";
body {background: url(%D1%84%D0%BE%D0%BD.jpg);
     background-blend-mode: multiply;
  background-color: #2e3a44;
  background-size: cover;
	
}
#mainpage header {
	/*Header */
	
	background-color: silver;
	opacity: 0.8;
	overflow: auto;
	font-family: montserrat, sans-serif;
	font-style: normal;
	font-weight: 400;
	 border-radius: 25px;
}
#mainpage header #main {
    /* Company Logo text */
    width: 7%;
    float: left;
    padding-left: 2%;
    padding-top: 12px;
    padding-bottom: 12px;
    color: rgba(146,146,146,1.00);
}
#mainpage header nav {
	/*Nav bar containing links in header */
	text-align: right;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-right: 2%;
	width: 75%;
	float: right;
	
}
header a {
	/* Links in header */
	padding-right: 2%;
	color: black;
	opacity:0.75;
	text-decoration: none;
	transition: opacity .1s linear;
}
header a:hover {
opacity:1;
}
header nav a:hover {
opacity:1;
}
header nav a {
	/* Links in header */
	padding-right: 2%;
	color: rgba(255,255,255,1.00);
	opacity: 0.75;
}
#content #maintext h1, #content #maintext h2 {
	/* Styling for main headings */
	color: #B7B7B7;
	text-align: center;
	font-weight:300;
	width: 100%;
	font-size:36px;
	
}



#maintext {
	/* Container for the blog post in individal blog view */
	padding-left: 2%;
	
	float: auto;
	padding-right: 2%;
	padding-top: 41px;
}
#mainpage #content #sidebar {
	/* Sidebar*/
	width: 19%;
	padding-left: 2%;
	padding-right: 2%;
	float: right;
	background-color: rgba(0,0,0,1.00);
	margin-top: 175px;
	opacity: 0.7;
	border-radius:15px;
	margin-right:2%;
}
#mainpage {
	/* Container of all content */
	width: 100%;
	overflow: auto;
	align-content: center;
	
}

td {
    color: #FFFFFF; 
    text-align: justify;
    width: 60%;
    padding-right: 50px;
    font-size: 20px;
    
}

.leftcol img {
    padding-left: 50px;
    width: 90%;
}


